
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/campaign/
/var/
/config/packages/framework.yaml
#/vendor/
###< symfony/framework-bundle ###
