                                                                                                                                                                                    
<!--end::Separator-->
<!--begin::Google link-->
<span class="btn btn-flex flex-center btn-lg w-100 mb-5">
<img alt="Logo" src="{{ asset('app/uploads/brands/logos/'~ brand.logo ~'') }}" class="h-20px me-3 text-white" /></span>
<!--end::Google link-->