<div class="d-flex align-items-center gap-2 gap-lg-3">
      <!--begin::Filter menu-->
      <div class="m-0">
         <a href="javascript:history.back()" class="btn btn-sm btn-secondary px-6"><span class="fas fa-chevron-circle-left"> {% trans %} Retour{% endtrans %}</span></a>
      </div>
      <!--end::Filter menu-->
</div>