{% extends 'base.email.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<!--begin:Email content-->
<div style="padding-bottom: 30px; font-size: 17px;">
	<strong>{% trans %}Bienvenue sur {% endtrans %} {{ brand.name }}</strong>
</div>
<div style="padding-bottom: 30px">{% trans %}Nous avons besoin de vérifier votre adresse email, veuillez donc cliquer sur le bouton ci-dessous 
pour activer votre compte. {% endtrans %} </div>
<div style="padding-bottom: 40px; text-align:center;">
	<a href="{{data.url}}" rel="noopener" style="text-decoration:none;display:inline-block;text-align:center;padding:0.75575rem 1.3rem;font-size:0.925rem;line-height:1.5;border-radius:0.35rem;color:#ffffff;background-color:#009EF7;border:0px;margin-right:0.75rem!important;font-weight:600!important;outline:none!important;vertical-align:middle" target="_blank">Activer mon compte</a>
</div>
<div style="padding-bottom: 30px">{% trans %}Vous avez reçu ce courriel parce que vous vous êtes inscrits sur{% endtrans %} {{ brand.name }} {% trans %}  qui est un service d'envoie de SMS professionnel.{% endtrans %}</div>
<!--end:Email content-->
{% endblock %}


{% block javascripts %} {% endblock %}