{% extends 'base.email.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<!--begin:Email content-->
<div style="padding-bottom: 30px; font-size: 17px;">
	<strong>{% trans %}Bonjour{% trans %}</strong>
</div>
<div style="padding-bottom: 20px">{% trans %}Votre mot de passe vient d'être changé à l'instant{% endtrans %}.</div>
<div style="padding-bottom: 40px">{% trans %}Si vous n'avez pas changé votre mot de passe, veuillez contacter notre service d'assistance technique.{% trans %}
<a href="#" rel="noopener" target="_blank" style="text-decoration:none;color: #009EF7; font-weight: bold">{% trans %}Equipe d'assistance.{% endtrans %}</a>
{% trans %}Votre sécurité est très importante pour nous !{% endtrans %}</div>

<!--end:Email content-->
{% endblock %}


{% block javascripts %} {% endblock %} 